@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    text-align: left;
    font-family: poppins, sans-serif;
}
#category{
    text-align: center;
    font-size: 10px;
    margin-bottom: 0px;
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #0d0142;
}
#by{
    text-align: center;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.list {
    margin-left: 8cm;
    margin-right: 8cm;
    font-weight: 600;
    margin-bottom: 0px;
}
ol{
    margin-top: 0px;
}
#intro1{
    margin-left: 8cm;
    margin-right: 8cm;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.introduction p {
    margin-left: 8cm;
    margin-right: 8cm;
    margin-top: 0px;
}

#detailedd{
    margin-left: 8cm;
    margin-right: 8cm;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 25px;

}

.detailed p{
    margin-left: 8cm;
    margin-right: 8cm;
    margin-top: 0px;
}
#variasii{
    margin-left: 8cm;
    margin-right: 8cm;
    font-weight: 600;
    margin-bottom: 0px;
}
.variasi p {
    margin-left: 8cm;
    margin-right: 8cm;
    margin-top: 0px;
    margin-bottom: 0px;
}

#li {
    font-size: 12px;
    font-weight: 100;
}

li a{
    font-weight: lighter;
    margin-top: 0px;
}
  
.BoldS::first-letter {
      font-size: 32px;
      font-weight: bold;
      color: #0d0142;
}  

#leon {
    font-size: 12px;
    color: grey;
    margin-top: 0px;
  }
  
a {
    text-decoration: none;
    color: blue;
}
  
a:hover{
    color: red;
  }